<!DOCTYPE html>
<html>
<head>
  <title>Contact Input Successful</title>
</head>
<body>
  <div class="container mt-4">
    <h1>Welcome, <%= name %>!</h1>
    <p>Your email: <%= email %></p>
    <p>Input was successful!</p>
  </div>
</body>
</html>
